/* Combine the provided styles with the responsive styles */
*{
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-desktop.svg");
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  font-family: "open-sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 50px;
  width: 160px;
}

.grid-container {
  width: 1200px;
  max-width: 100%;
}

h1 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

img {
  width: auto;
}

.hud-flex {
  display: flex;

}

.hud-flex section div {
  flex: 1;
}

.all-txt {
  color: white;
  margin-left: 40px;
  font-size: .9rem;
}

.top-txt p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  opacity: .9;
}

button {
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin-bottom: 40px;
  color:hsl(257, 40%, 49%);
  width: 200px;
}

button:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: flex-end;
}


svg{
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  text-decoration: none;
  justify-content: center;  
}

@media screen and (max-width: 768px) {
  body {
    width: 350px;
    margin: 30px auto;
  }

  img {
    max-width: 100%;
  }
  .hud-flex {
    flex-direction: column;
  }
  .all-txt {
    font-size: .8rem;
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }

  h1 {
    font-size: 2rem;
  }
  button {
    width: 50%;
  }

  .icons {
    justify-content: center;
  }
}